<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/jquery.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>
    <div id="footer-wrap">
      <div id="footer">
        <div class="footer-content"><a id="github-link" href="https://github.com/clonn/express-todo-example" target="_blank">Source Code</a> by</div>
        <a href="http://clonn.blogspot.tw/" id="Caesar Chi" target="_blank">Caesar Chi</a>
        <div class="footer-content">&#169;</div>
      </div>
    </div>
    <script src="/javascripts/socket.io.client.js"></script>
  </body>
</html>
